.cen-ter{
  text-align: center;
  display: block;
  margin: 0 auto;
}
body{
  background-color: #ffffff;
}
h1{
  color: black;
}
p{
  color: black;
}
.input-field {
  border: 1px solid #ddd;
  border-radius: 8px;
}
.textWhite{
  color: black;
}
